<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image_id, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg" %>

<table>
  <tr>
    <td>name</td>
    <td>introduction</td>
  </tr>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.introduction %></td>
  </tr>
</table>
<div>
  <% link_to edit_user_path do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>